.card {
  padding: 2rem 3rem;
  border-radius: 2px;
  max-width: 320px;
  -webkit-box-shadow: 5px 5px 15px 5px #bfbfbf;
  box-shadow: 5px 5px 15px 5px #bfbfbf;
  text-align: left;

  &--light {
    background: #f9f9f9;
  }

  &--dark {
    background: #bfbfbf;
  }

  &__heading {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: darkslategrey;
  }

  &__info {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  &__author {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
